* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background: radial-gradient(circle, #313f5d, #202737);
}

.container {
  width: 50%;
  display: flex;
  margin: 0 auto;
}


